@import url("reset.css");
body {
    font-family: "Poppins", sans-serif;
    color: #6c757d;
    font-size: 14px;
    font-weight: 300;
}

[class*="__container"] {
    max-width: 1270px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.main__text-block {
    max-width: 816px;
    margin: 0 auto 80px;
}
.main__text-block p {
    line-height: 1.78;
    margin-bottom: 30px;
}
.title {
    color: #212529;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.6;
    margin-bottom: 40px;
    max-width: 605px;
}
.article__image,
.article__image1,
.article__image2 {
    max-width: 100%;
    margin-bottom: 80px;
}
.article__images {
    font-size: 0;
}

.article__image1 {
    margin-right: 30px;
}

.main {
    padding-top: 80px;
    padding-bottom: 80px;
}
